body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Triptease Icons';
  src: url('/fonts/icomoon.woff') format('woff'),
    url('/fonts/icomoon.eot') format('eot'),
    url('/fonts/icomoon.ttf') format('ttf');
}
